body {
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/white-board-593300_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.about__title {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
}